---
  to: my.boss@company.net
  from: my@company.net
  cc: my@company.net
  pm_name: Boss Name
  email_signature: My Name
  smtp_username: my-smtp-login
  smtp_password: my-smtp-password
  smtp_host: smtp-host
  jiras:
    - endpoint: https://company.atlassian.net
      username: my@company.net
      password: xxxx
      projects:
        - key: PRJ1
